/*Site Wide Styles*/
html, body {
	height: 100%;
}

body {
	background-color: rgb(247, 209, 23, 0.75);
	margin: 0px;
	color: rgb(1, 59, 123);
	position: relative;
	font-size: 16px;
}

a {
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: rgb(255, 255, 54);
}

ul a {
	color: white;
}

#undercon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 25px 25px;
}

/*Header*/
header {
	padding: 0px;
	background-color: white;
}

	ul {
		list-style-type: none;
		display: flex;
		justify-content: space-around;
	}

	li {
		margin: 10px;
		padding: 0px;
		font-size: 1.6vw;
		text-align: center;
	}

	#heading {
		display: flex;
		justify-content: center;
		align-items: center;
	}

		.packhead {
			width: 12vw;
			margin-left: 5%;
			margin-right: 5%;
		}

		#unitdes {
			position: absolute;
			right: 0;
			margin-right: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		#jtegold {
			margin: 10px;
			width: 8vw;
			opacity: 0.5;
		}

		#inclusive {
			margin: 10px;
			width: 8vw;
			opacity: 0.5;
		}

		#mainnav {
			font-size: 1vw;
			font-weight: bold;
			background-color: rgb(1, 59, 123);
			color: white;
			margin-bottom: 0px;
		}

/*Footer*/
.footer {
	background-color: white;
	padding: 0px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	border-top-style: solid;
}

	.footerimg {
		margin: 5px 5px;
		max-width: 8%;
	}
